<p style="color: black; font-weight: bold; font-size: 20px">Welcome!  Use My Yoga Journal <br />
to document your path towards <br />
mindfullness through yoga <br />
 and meditation.  Begin your <br />
 jounrey by <%= link_to 'signing up now', new_user_url %>. <br />
   Namaste.</p>

<div class='yoga_picture'>
<%= image_tag 'yoga.jpeg' %>
</div>

<%= form_tag("/search", :method => 'get' ) do %>
	<%= label_tag(:yoga, "Search Yoga:") %>
	<%= text_field_tag(:yoga) %>

	<%= label_tag(:zipcode, "Enter Zipcode:") %>
	<%= text_field_tag(:zipcode) %>

	<%= submit_tag("Search") %>
<% end %>