<h1>Listing teachers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Picture</th>
    <th>Biography</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.name %></td>
    <td><%= image_tag teacher.image_url %></td>
    <td><%= teacher.biography %></td>
    <td><%= link_to 'Show', teacher %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher', new_teacher_path %>
