<% if session[:user_id] %>
  <h1>Your Yoga Teachers</h1>

  <table>
    <tr>
      <th>Name</th> 
      <th>Picture</th>
      <th>Biography</th>
    </tr>

    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= image_tag teacher.image_url %></td>
        <td><%= teacher.biography %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Delete', teacher_url(teacher.id), :method => 'delete' %></td>
      </tr>
    <% end %>

  </table>

<% else %>
  <h1>Please Sign Up</h1>
  <p>To make a reservation here, please <%= link_to "sign up for an account", new_user_url %></p>
<% end %>


<%= link_to 'Add Teacher', new_teacher_url %><br />
<%= link_to 'Home', root_url %>
