<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @review.day %>
</p>

<p>
  <b>Time:</b>
  <%= @review.time %>
</p>

<p>
  <b>Style:</b>
  <%= @review.style %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @review.difficulty %>
</p>

<p>
  <b>Meditative guidance:</b>
  <%= @review.meditative_guidance %>
</p>

<p>
  <b>Personal touch:</b>
  <%= @review.personal_touch %>
</p>

<p>
  <b>Thoughts:</b>
  <%= @review.thoughts %>
</p>

<p>
  <b>Teacher:</b>
  <%= @review.teacher_id %>
</p>

<p>
  <b>User:</b>
  <%= @review.user_id %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
